body {
    background-image: url("../asset/bg.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
}

.github {
    width: 5%;
}

.facebook {
    width: 4%;
}

.email {
    width: 7%;
}

.linkedin {
    width: 4%;
}