body {
    background-image: url("../asset/bg.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
}

.github {
    width: 2.5%;
}

.facebook {
    width: 2%;
}

.email {
    width: 3.75%;
}

.linkedin {
    width: 2%;
}